.header
	.header-hide
	.container
		.header-logo
			a(href="#").logo-href
				img.logo-img(src="./images/logo.png" alt="logo")
		.header-menu
			ul.menu-list
				li.menu-item
					a(href="#" data-link="link-1").menu-href.menu-href__list Женщинам
						i.fa.fa-chevron-down.drop-arrow
						//- .menu-href__pseudo
				li.menu-item
					a(href="#" data-link="link-2").menu-href.menu-href__list Мужчинам
						i.fa.fa-chevron-down.drop-arrow
						//- .menu-href__pseudo
				li.menu-item__sale
					a(href="#").menu-href.menu-href__sale Распродажа
		.header-page
			ul.header-page__list
				li.header-page__item
					a(href="#").header-page__href.header-page__search
						i.fa.fa-search.fa-search__input
						input.input-search.input(type="text" placeholder="Что ищите?")
				li.header-page__item
					a(href="#").header-page__href
						i.fa.fa-user
				li.header-page__item
					a(href="#").header-page__href.header-page__hrefCart
						i.fa.fa-shopping-bag
		include ../droplist/_droplist-bascet

.headerBrands
	.headerBrands__hide
	.container
		.brands-title Бренды:
		.brand-abc
			ul.brand-abc__list
				li.brand-abc__item
					a(href="#").brand-abc__href Все
				li.brand-abc__item
					a(href="#" data-link="link-3").brand-abc__href a
				li.brand-abc__item
					a(href="#"  data-link="link-4").brand-abc__href b
				li.brand-abc__item
					a(href="#").brand-abc__href c 
				li.brand-abc__item
					a(href="#").brand-abc__href d
				li.brand-abc__item
					a(href="#").brand-abc__href e 
				li.brand-abc__item
					a(href="#").brand-abc__href f
				li.brand-abc__item
					a(href="#").brand-abc__href g
				li.brand-abc__item
					a(href="#").brand-abc__href h
				li.brand-abc__item
					a(href="#").brand-abc__href i
				li.brand-abc__item
					a(href="#").brand-abc__href j
				li.brand-abc__item
					a(href="#").brand-abc__href k
				li.brand-abc__item
					a(href="#").brand-abc__href l
				li.brand-abc__item
					a(href="#").brand-abc__href m
				li.brand-abc__item
					a(href="#").brand-abc__href n
				li.brand-abc__item
					a(href="#").brand-abc__href o
				li.brand-abc__item
					a(href="#").brand-abc__href p
				li.brand-abc__item
					a(href="#").brand-abc__href q
				li.brand-abc__item
					a(href="#").brand-abc__href r
				li.brand-abc__item
					a(href="#").brand-abc__href s
				li.brand-abc__item
					a(href="#").brand-abc__href t
				li.brand-abc__item
					a(href="#").brand-abc__href u
				li.brand-abc__item
					a(href="#").brand-abc__href v
				li.brand-abc__item
					a(href="#").brand-abc__href w
				li.brand-abc__item
					a(href="#").brand-abc__href x 
				li.brand-abc__item
					a(href="#").brand-abc__href y 
				li.brand-abc__item
					a(href="#").brand-abc__href z
				li.brand-abc__item
					a(href="#").brand-abc__href 0-9
.header-contactBlock
	.container
		.header-contact
			.contact-tel
				a(href="tel:+79660030990").contact-tel__href 
					i.fa.fa-phone
					span.contact-tel__span +7 966 003 09 90
					
			.contact-links
				ul.contact-links__list
					li.contact-links__item
						a(href="#").contact-links__href О нас
					li.contact-links__item
						a(href="#").contact-links__href Доставка
					li.contact-links__item
						a(href="#").contact-links__href Оплата
					li.contact-links__item
						a(href="#").contact-links__href Контакты


