script(src='js/vendor/jquery.min.js')
script(src='js/main.js')
//- script(src='js/vendor/jquery.bxslider.min.js')
script(src='js/vendor/owl.carousel.js')
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
//- script(src='js/vendor/jquery.fadethis.min.js')
