.dropBascket
	.dropBascket__cont
		ul.bascket__list
			li.bascket__item
				.bascket-item__img
					img(src="./images/pic/backet-1.jpg" alt="bascket")
				.bascket-item__title 
					a(href="#").bascket-title__href CC крем цветокоррекция тона кожи Soin Correcteur De Teint – CC Cream 30мл 
					.bascket-title__about - парфюмированная вода 30мл — 
						span.bascket-title__price 20 147 р.
					.bascket-title__about - парфюмированная вода 30мл — 
						span.bascket-title__price 20 147 р.
				.bascket-item__qulity 1 шт.
				.bascket-item__del
					a(href="#")
						i.fa.fa-trash-o
			li.bascket__item
				.bascket-item__img
					img(src="./images/pic/backet-2.jpg" alt="bascket")
				.bascket-item__title 
					a(href="#").bascket-title__href Helena Rubinstein Тональный крем Spectacular
					.bascket-title__about - 024 Caramel — 
						span.bascket-title__price 20 147 р.
				.bascket-item__qulity 1 шт.
				.bascket-item__del
					a(href="#")
						i.fa.fa-trash-o
			li.bascket__item
				.bascket-item__img
					img(src="./images/pic/backet-1.jpg" alt="bascket")
				.bascket-item__title 
					a(href="#").bascket-title__href CC крем цветокоррекция тона кожи Soin Correcteur De Teint – CC Cream 30мл
					.bascket-title__about - парфюмированная вода 30мл — 
						span.bascket-title__price 20 147 р.
				.bascket-item__qulity 1 шт.
				.bascket-item__del
					a(href="#")
						i.fa.fa-trash-o
	.dropBascket__cont.dropBascket__contButtom
		button.btn.btn-bascket оформить заказ
		span.bascket-price Итого: 42 700 р.

	