.droplist#link-1
	.dropHide
	.container
		.droplist-title 
			span.droplist-title__center Для женщин
		.droplist-content
			.col-leftDrop
				ul.dropmenu-Mainlist
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-1").dropmenu-MainHref.active Парфюмерия
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-2").dropmenu-MainHref Уход за волосами 
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-3").dropmenu-MainHref Уход за кожей
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-4").dropmenu-MainHref Макияж
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-5").dropmenu-MainHref Для ногтей
			.col-rightDrop.current#tab-1
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Celebrity
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Миниатюры
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Пробники
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Наборы
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Amouage
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Kilian
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Guerlain
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Yves Saint Laurent
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
					
				img.img-drop(src="./images/dior.jpg" alt="dior")
			.col-rightDrop#tab-2
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 66Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 66Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 66Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
				img.img-drop(src="./images/dior.jpg" alt="dior")
			.col-rightDrop#tab-3
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 777Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
					

				img.img-drop(src="./images/dior.jpg" alt="dior")
			.col-rightDrop#tab-4
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 88Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
				img.img-drop(src="./images/dior.jpg" alt="dior")
			.col-rightDrop#tab-5
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 99Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
				img.img-drop(src="./images/dior.jpg" alt="dior")
.droplist#link-2
	.dropHide
	.container
		.droplist-title 
			span.droplist-title__center Для мужчин
		.droplist-content
			.col-leftDrop
				ul.dropmenu-Mainlist
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-6").dropmenu-MainHref.active Парфюмерия
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-7").dropmenu-MainHref Уход за волосами 
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-8").dropmenu-MainHref Уход за кожей
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-9").dropmenu-MainHref Макияж
					li.dropmenu-Mainitem
						a(href="#" data-tab="tab-10").dropmenu-MainHref Для ногтей
			.col-rightDrop.current#tab-6
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Celebrity
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Миниатюры
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Пробники
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Наборы
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Amouage
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Kilian
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Guerlain
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Yves Saint Laurent
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
					
				img.img-drop(src="./images/dior.jpg" alt="dior")
			.col-rightDrop#tab-7
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 66Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 66Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 66Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
				img.img-drop(src="./images/dior.jpg" alt="dior")
			.col-rightDrop#tab-8
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 777Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
					

				img.img-drop(src="./images/dior.jpg" alt="dior")
			.col-rightDrop#tab-9
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 88Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
				img.img-drop(src="./images/dior.jpg" alt="dior")
			.col-rightDrop#tab-10
				.col-4__drop
					.dropmenuTitle Категории
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 99Люкс / Элитная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 2Селективная / Нишевая
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 3Винтажная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 4Восточная
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref 5Celebrity
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все категории
				.col-4__drop
					.dropmenuTitle Бренды
					ul.dropmenu-droplist
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Giorgio Armani
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Montale
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Versace
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref Escentric Molecules
						
						li.dropmenu-dropitem
							a(href="#").dropmenu-deropHref.dropmenu-deropHref__all все бренды
				.col-4__drop
					.dropmenuTitle
						a(href="#") Новинки
					.dropmenuTitle
						a(href="#") Распродажа
				img.img-drop(src="./images/dior.jpg" alt="dior")
		