//- link(rel='stylesheet', href='css/jquery.bxslider.css')
//- link(rel='stylesheet', href='css/owl.carousel.css')
//- link(rel='stylesheet', href='css/owl.theme.css')
link(rel='stylesheet', href='css/styleJS.css')
link(rel='stylesheet', href='css/style.css')
//- link(rel='stylesheet', href='css/normalize.css')
script(src='js/vendor/modernizr.js')
    
    
    
        








