footer.footer
	.container
		.footer__header
			.footer__logo
				a(href="#").logo-href
					img.logo-img(src="./images/logo.png" alt="logo")
			.footer__contact
				ul.footer-contact__list
					li.footer-contact__item
						a.footer-contact__href(href="#")
							i.fa.fa-envelope
							span.footer-contact__span info@yanstore.ru
					li.footer-contact__item
						a.footer-contact__href(href="#")
							i.fa.fa-phone
							span.footer-contact__span.footer-contact__phone +7 966 003 09 90
					li.footer-contact__item
						span.footer-contact__time с 9.00 до 23.00 без выходных
		.footer__main
			ul.footerMain__list
				li.footerMain__item
					.footerMain__title Каталог
					ul.footerMainHref__list
						li.footerMainHref__item
							a(href="#").footerMainHref__href Женщинам 
						li.footerMainHref__item
							a(href="#").footerMainHref__href Мужчинам
						li.footerMainHref__item
							a(href="#").footerMainHref__href Распродажа
						li.footerMainHref__item
							a(href="#").footerMainHref__href Бренды
				li.footerMain__item
					.footerMain__title Информация
					ul.footerMainHref__list
						li.footerMainHref__item
							a(href="#").footerMainHref__href Доставка
						li.footerMainHref__item
							a(href="#").footerMainHref__href Оплата
						li.footerMainHref__item
							a(href="#").footerMainHref__href О нас
						li.footerMainHref__item
							a(href="#").footerMainHref__href Контакты
				li.footerMain__item
					.footerMain__title Дополнительно
					ul.footerMainHref__list
						li.footerMainHref__item
							a(href="#").footerMainHref__href Отзывы покупателей
						li.footerMainHref__item
							a(href="#").footerMainHref__href О качестве товара
				li.footerMain__item
					.footerMain__title Мы в соцсетях
					ul.footerMainHref__list_social
						li.footerMainHref__item_social
							a(href="#")
								i.fa.fa-vk
						li.footerMainHref__item_social
							a(href="#")
								i.fa.fa-instagram
						li.footerMainHref__item_social
							a(href="#")
								i.fa.fa-youtube
		.footer__bottom
			.footerBottom-title Copyright © 2016, Yanstore. All Rights Reserved.
		