$black: #191919; 
$blackblack: #333333;
$greenbgr: #00822b;
$white: #f1e9df;
$gray: #e7e8e2;
$light-bl: #ccced1;
$darkgray: #a49583;
$amount: 20%;

@keyframes dropHeader {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@mixin anim() {
    -moz-animation-name: dropHeader;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 0.3s;
  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.3s;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
}
 

// @mixin text-line() {
//     padding-bottom: 1px;
//     border-color: none;
//     border-bottom: 2px solid transparent;
//     &:hover{
//         border-bottom: 2px solid $red;
        
//     }
// }
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// @include clearfix();
@mixin uldev() {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin boxsize() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin breakpoint($point) {
  @if $point == small {
    @media (min-width: 24em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 46.8em) { @content; }
  }
  @else if $point == large {
    @media (min-width: 50em)  { @content; }
  }
  @else if $point == fistpix {
    @media (min-width: 540px)  { @content; }
  }
  @else if $point == biglarge {
    @media (min-width: 1240px)  { @content; }
  }
  @else if $point == big1105 {
    @media (min-width: 1105px)  { @content; }
  }
  @else if $point == big1140 {
    @media (min-width: 1200px)  { @content; }
  }
  

}

$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}
